.dialog-pane {
    -fx-background-color: black;
}
.dialog-pane .label {
	-fx-text-fill: white;
	-fx-font-family: "Lucida Console";
}
.dialog-pane:header .header-panel {
    -fx-background-color: black;
}
.dialog-pane:header .header-panel .label {
	-fx-text-fill: white;
	-fx-font-family: "Lucida Console";
}
.button {
	-fx-border-color: white;
	-fx-background-color: rgb(160, 160, 160);
	-fx-text-fill: black;
	-fx-font-family: "Tahoma";
	-fx-font-size: 26pt;
	-fx-alignment: center;
	-fx-text-alignment: center;
}