@import url("dialog-style.css");
.button {
	-fx-border-color: white;
	-fx-background-color: rgb(160, 160, 160);
	-fx-text-fill: black;
	-fx-font-family: "Tahoma";
	-fx-font-size: 26pt;
	-fx-alignment: center;
	-fx-text-alignment: center;
}