@import url("dialog-style.css");
.text-area {
	-fx-min-height: 600;
	-fx-min-width: 200;
    -fx-border-insets: 14;
	-fx-border-color: white;
	-fx-background-color: black;
	-fx-text-fill: white;
	-fx-font-family: "Lucida Console";
}
.text-area .content {
	-fx-background-color: black;
	-fx-text-fill: white;
	-fx-font-family: "Lucida Console";
}
.scroll-bar {
	-fx-background-color: black;
	-fx-border-color: white;
}
.scroll-bar .thumb {
	-fx-border-color: white;
	-fx-background-color: black;
}
.corner {
	-fx-background-color: black;
	-fx-border-color: white;
}