@import url("dialog-style.css");
.text-field {
	-fx-alignment: center;
	-fx-text-fill: white;
	-fx-border-color: white;
	-fx-font-family: "Lucida Console";
	-fx-background-color: black;
}
.check-box .box {
	-fx-alignment: center;
	-fx-border-color: white;
	-fx-background-color: black;
}
.check-box .mark {
	-fx-background-color: black;
	-fx-background-insets: 1 0 -1 0, 0;
	-fx-shape: "M0,4H2L3,6L6,0H8L4,8H2Z";
}
.check-box:selected .mark {
	-fx-background-color: white;
}
.combo-box {
	-fx-border-color: white;
}
.combo-box .list-cell {
	-fx-font-family: "Lucida Console";
	-fx-background-color: black;
	-fx-text-fill: white;
	-fx-padding: 3 0 2 7;
}
.combo-box .list-cell:hover {
	-fx-background-color: rgb(160, 160, 160);
	-fx-text-fill: black;
}
.combo-box .arrow-button {
	-fx-background-color: black;
	-fx-border-color: white;
}
.combo-box .arrow {
	-fx-background-color: white;
}